<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title">
            <h1><%= current_page.data.title %></h1>
          </div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/voordat.html", class: "previous" %>
            <%= link_to "Volgende", "/preparatie.html", class: "next" %>
          </div>
        </div>
          <div class="slide-sub-header breadcrumbs">
            <%= partial "breadcrumbs" %>
          </div>
        <div class="slide-content">
          <%= yield %>
          <div class="row">
            <div class="column">
                <% if current_page.data.video %>
                  <%= current_page.data.video_title %>
                <% end %>
            </div>
            <div class="column">
                <% if current_page.data.image %>
                    <p>
                    <%= current_page.data.image_title %>
                    </p>
                    <%= image_tag current_page.data.image, class: "image" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <p style="text-align: center; color: white;">dit is de handleiding layout</p>
  </body>
</html>
