<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title">
            <h1><%= current_page.data.title %></h1>
          </div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/risicos.html", class: "previous" %>
            <%= link_to "Volgende", "/toets.html", class: "next" %>
          </div>
        </div>
        <div class="slide-sub-header breadcrumbs">
          <%= partial "breadcrumbs" %>
        </div>
        <div class="slide-content">
          <%= yield %>
          <% current_page.data.item_list.each_with_index do |item, index| %>
            <div class="row <%= 'alt' if index % 2 != 0 %>">
              <div class="column3">
                <%= item.title %>
              </div>
              <div class="column3">
                <%= link_to "Bekijk de video", "#video#{index}", rel: "modal:open" %>
              </div>
              <div class="column3">
                <%= link_to "Lees het document", "#document#{index}", rel: "modal:open" %>
              </div>
            </div>
              <div class="modal" id="video<%= index %>">
                hier komt een video over <%= item.title %>
              </div>
              <div class="modal" id="document<%= index %>">
                hier een document of markdown over <%= item.title %>
              </div>

          <% end %>

          </div>
        </div>

      </div>

    </div>
    <p style="text-align: center; color: white;">dit is de na-gebruik layout</p>
  </body>
</html>
