<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title"><h1><%= current_page.data.title %></h1></div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/handleiding.html", class: "previous" %>
            <%= link_to "Volgende", "/risicos.html", class: "next" %>
          </div>
        </div>
          <div class="slide-sub-header breadcrumbs">
            <%= partial "breadcrumbs" %>
          </div>
        <div class="slide-content">
          <div class="table-row">
            <div class="column">
              <h2><%= current_page.data.left_list_title %></h2>
              <ul>
                <% current_page.data.left_list.each do |f| %>
                <li><%= f %></li>
                <% end %>
              </ul>
            </div>
            <div class="column">
              <h2><%= current_page.data.right_list_title %></h2>
              <ul>
                <% current_page.data.left_list.each do |f| %>
                <li><%= f %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="center"><a href="#warning" class="warning" rel="modal:open"><%= current_page.data.warning_button %></a></div>

      </div>

    </div>
    <p style="text-align: center; color: white;">dit is de preparatie layout</p>
<div class="container">
  <div id="warning" class="modal">
    <a href="#close-modal" rel="modal:close" class="close-modal ">Close</a>
    <%= yield %>
  </div>
</div>

  </body>
</html>
