<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title">
            <h1><%= current_page.data.title %></h1>
          </div>
          <div class="slide-controls">
            <a href="preparatie" class="previous">Vorige</a>
            <a href="na-gebruik" class="next">Volgende</a>
          </div>
        </div>
        <div class="slide-sub-header breadcrumbs">
            <p>Handleiding >> Preparatie >> <b>Gebruikersrisico's</b> >> Na gebruik >> <span class="toets">Toets<span>
          </div>
        <div class="slide-content">
          <% current_page.data.video_list.each_with_index do |video, index| %>
            <div class="row <%= 'alt' if index % 2 == 0 %>">
              <div class="column">
                <h2><%= video.title %></h2>
                <p>
                  <%= video.description %>
                </p>
              </div>

              <div class="column">
                <%= link_to "Bekijk dit scenario", video.img %>
              </div>
            </div>
          <% end %>

          </div>
        </div>

      </div>

    </div>
    <p style="text-align: center; color: white;">dit is de preparatie layout</p>
  </body>
</html>
