<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title">
            <h1><%= current_page.data.title %></h1>
          </div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/preparatie.html", class: "previous" %>
            <%= link_to "Volgende", "/na-gebruik.html", class: "next" %>
          </div>
        </div>
        <div class="slide-sub-header breadcrumbs">
          <%= partial "breadcrumbs" %>
        </div>
        <div class="slide-content">
          <% current_page.data.video_list.each_with_index do |video, index| %>
            <div class="table-row <%= 'alt' if index % 2 != 0 %>">
              <div class="column">
                <h2><%= video.title %></h2>
                <p>
                  <%= video.description %>
                </p>
              </div>

              <div class="column">
                <%= link_to "Bekijk dit scenario", "##{index}", rel: "modal:open" %>
              </div>
              <div class="modal" id="<%= index %>">
                <video width="100%" controls>
                  <source src="images/<%= video.video %>" type="video/mp4">
                </video>
              </div>
            </div>
          <% end %>

          </div>
        </div>
      </div>
    </div>


    <p style="text-align: center; color: white;">dit is de risico's layout</p>
  </body>
</html>
