<!doctype html>
<html>

<%= partial "head" %>
<script type="text/javascript">

    var scorm = pipwerks.SCORM;  //Shortcut
    var lmsConnected = false;


    function handleError(msg){
       alert(msg);
       window.close();
    }


    function initCourse(){

       //scorm.init returns a boolean
       lmsConnected = scorm.init();

       //If the scorm.init function succeeded...
       if(lmsConnected){

          //Let's get the completion status to see if the course has already been completed
          var completionstatus = scorm.get("cmi.core.lesson_status");

          /* If the course has already been completed...
          if(completionstatus === "completed" || completionstatus === "passed"){

             //...let's display a message and close the browser window.
             handleError("U heeft deze module al voltooid.");

          } */

          //Now let's get the username from the LMS
          var learnername = scorm.get("cmi.core.student_name");

          //If the name was successfully retrieved...
          if(learnername){

             //...let's display the username in a page element named "learnername"
             document.getElementById("learnername").innerHTML = learnername; //use the name in the form

          }

       //If the course couldn't connect to the LMS for some reason...
       } else {

          //... let's alert the user then close the window.
          handleError("Error: Course could not connect with the LMS");

       }

    }


    function setComplete(){

       //If the lmsConnection is active...
       if(lmsConnected){

          //... try setting the course status to "completed"
          var success = scorm.set("cmi.core.lesson_status", "completed") && scorm.set ("cmi.score.raw", "100");
          //If the course was successfully set to "completed"...
          if(success){

             //... disconnect from the LMS, we don't need to do anything else.
             scorm.quit();

          //If the course couldn't be set to completed for some reason...
          } else {

             //alert the user and close the course window
             handleError("Error: Course could not be set to complete!");

          }

       //If the course isn't connected to the LMS for some reason...
       } else {

          //alert the user and close the course window
          handleError("Error: Course is not connected to the LMS");

       }

    }


    function initForm(){

      document.getElementById("myform").onsubmit = function (){

        this.innerHTML = "Bedankt voor het volgen van deze module. U kunt dit venster nu sluiten.";

        setComplete();

        return false; // This prevents the browser from trying to post the form results

      }

    }

    window.onload = function (){

      initCourse();
      initForm();

    }

    </script>
  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title"><h1><%= current_page.data.title %></h1></div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/na-gebruik.html", class: "previous" %>
          </div>
        </div>
          <div class="slide-sub-header breadcrumbs">
            <%= partial "breadcrumbs" %>
          </div>
        <div class="slide-content">
          <div class="row"> <%= yield %></div>
          <form id="myform" name="myform" method="post" action="">
            <fieldset>
                <p>Ik heb deze module doorgenomen.</p>
                <p><input type="submit" name="submit" id="submit" value="Dat klopt"  /></p>
            </fieldset>
          </form>
        </div>
      </div>
    </div>



    <p style="text-align: center; color: white;">dit is de toets layout</p>
  </body>
</html>
