<!doctype html>
<html>

<%= partial "head" %>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="slide">
        <div class="slide-header">
          <div class="title">
            <h1><%= current_page.data.title %></h1>
          </div>
          <div class="slide-controls">
            <%= link_to "Vorige", "/index.html", class: "previous" %>
            <%= link_to "Volgende", "/handleiding.html", class: "next" %>
          </div>
        </div>
        <% if current_page.data.subtitle %>
          <div class="slide-sub-header">
            <h2><%= current_page.data.subtitle %></h2>
          </div>
        <% end %>
        <div class="slide-content">
          <% if current_page.data.image %>
              <%= image_tag current_page.data.image %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <p style="text-align: center; color: white;">dit is de voordat layout</p>
  </body>
</html>
