<p>
  <%= nav_path("Handleiding", "/handleiding.html") %>
  <b>>></b>
  <%= nav_path("Preparatie", "/preparatie.html") %>
  <b>>></b>
  <%= nav_path("Gebruiksrisicos", "/risicos.html") %>
  <b>>></b>
  <%= nav_path("Na gebruik", "/na-gebruik.html") %>
  <b>>></b>
  <span class="toets">
    <%= nav_path("Toets", "/toets.html") %>
  </span>
</p>
